.uploadContainer {
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100%;
  height: 200px;

  margin-top: 16px;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--color);

  border-radius: 16px;
  cursor: pointer;
}