.user {
  display: flex;
   justify-content: space-between;

  background-color: #F4F4F6;
}
.user__content {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  max-width: 744px;
}

.user__side__content {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.user__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: flex-start;*/
}
