.div__card {
  width: 744px;
  /* height: 366px; */
  /* Автолейаут */
  display: flex;
  padding: 8px 0px;
  /* background: url("./карточка.png") no-repeat; */
  margin-top: 16px;
  /*margin-left: 16px;*/
}
