.content {
    width: 744px;
}

.div_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: url("../../assets/img/user-card-bg.svg") no-repeat center center;
    border-radius: 20px;
    padding: 8px;
}

.div__user {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    flex: 3;
    padding: 25px;
}

.img__card {
    border-radius: 12px;
}

.img__input_container {
    width: 220px;
    height: 350px;
}

.img__input {
    position: relative;
    top: -50%;
    width: 100%;
    height: 25%;
    cursor: pointer;
    opacity: 0;
}

.img__input::before {
    content: url("./vuesax_bold_gallery-edit.png");
}

.img__input::after {
    content: "Изменить фотографию";
    backdrop-filter: blur(10px);
    color: black;
}

.img__input::-webkit-file-upload-button {
    visibility: hidden;
}

.mic__img {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.395) !important;
}

.div__inf {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.p__head {
    color: rgba(35, 11, 63, 0.3);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
}

.p__text {
    color: rgb(35, 11, 63);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
}

.div__description {
    /* плашка */
    width: 381px;
    height: 82px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    border-radius: 8px;
    background: rgba(244, 244, 246, 0.6);
}

.p__description1 {
    width: 375px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 2px;

    color: rgba(35, 11, 63, 0.8);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -2%;
    text-align: left;
}

.p__description2 {
    width: 375px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 2px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 10px;
    gap: 4px;

    color: rgba(35, 11, 63, 0.8);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -2%;
    text-align: left;
}

.p__description3 {
    width: 375px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 2px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: -6px;

    color: rgba(35, 11, 63, 0.8);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -2%;
    text-align: left;
}

.p__like {
    color: rgba(35, 11, 63, 0.8);
    font-family: Inter;
    font-size: 12px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -2%;
    text-align: right;
    font-style: italic;
}

.span__violet {
    color: rgb(107, 39, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: -2%;
    text-align: left;
}

.p__change {
    cursor: pointer;
    width: 251px;
    height: 17px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;


    color: rgba(35, 11, 63, 0.3);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -2%;
    text-align: left;
    align-items: flex-end;
}

.div__change {
    /*gap: 8px;*/
    display: flex;
    flex-direction: column;
}
