.input {
  outline: none;

  width: 100%;
  padding: 12px;
  padding-left: calc(12px + 24px + 8px);
  font-size: 14px;
  line-height: 140%;

  border: 1px solid rgba(35, 11, 63, 0.1);
  border-radius: 12px;

  transition: .2s border;
}

.input:focus {
  border: 1px solid #6B27FF;
}

.container {
  position: relative;
  width: 100%;
}

.iconContainer {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
  /* color: red; */
}
.imageIcon {
  display: block;
  color: rgba(35, 11, 63, 0.3);
  transition: .2s color;
}

.input:focus + .iconContainer > .imageIcon {
  color: var(--title-color);
}