.div__main {
    /* группа */

    width: 744px;
    height: 160px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

@media screen and (max-width: 1441px) {
    .div__main {
    }
}

.div__group {
    /* избранное */
    width: 368px;
    height: 160px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*padding: 8px 0px 8px 16px;*/
    border-radius: 12px;
    background: rgb(255, 255, 255);
}

.div__column {
    display: flex;
    flex-direction: column;
}

.a__group {
    color: rgb(35, 11, 63);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;

    /* Текст */
    height: 29px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.a__group::after {
    content: url(public/vuesax_bold_arrow-right.png);
    margin-top: 8px;
}

.p__group {
    color: rgba(35, 11, 63, 0.3);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;

    /* Текст */
    /* width: 137px;*/
    /*height: 24px;*/
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

.img__group1 {
    width: 154px;
}

.img__group2 {
    width: 200px;
    margin-top: -15px;
}

